{% extends "app/index.html.twig" %}

{% block content %}
<div class="row mx-4">
	{% if daily_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Quotidiennes</h2>

		{% for task in daily_tasks %}
			{{ _self.div_task(task.priority.name) }}
			{{ task.title }}
			</div>
		{% endfor %}
	
	</div>
	{% endif %}

	{% if weekly_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Hebdomadaires</h2>

		{% for task in weekly_tasks %}
			{{ _self.div_task(task.priority.name) }}
			{{ task.title }}
			</div>
		{% endfor %}

	</div>
	{% endif %}

	{% if monthly_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Mensuelles</h2>

		{% for task in monthly_tasks %}
			{{ _self.div_task(task.priority.name) }}
			{{ task.title }}
			</div>
		{% endfor %}

	</div>
	{% endif %}

	{% if unique_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Uniques</h2>

		{% for task in unique_tasks %}
			{{ _self.div_task(task.priority.name) }}
			{{ task.title }}
			</div>
		{% endfor %}

	</div>
	{% endif %}

</div>

{% endblock %}

{% macro div_task(priority) %}
	{% if priority == 'critique' %}
		<div class="task critical_task">
	{% elseif priority == 'importante' %}
		<div class="task important_task">
	{% elseif priority == 'normale' %}
		<div class="task normal_task">
	{% else %}
		<div class="task optional_task">
	{% endif %}
{% endmacro %}