{% extends "app/index.html.twig" %}

{% block content %}
<div class="row mx-4">
	{% if critical_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Critiques</h2>

		{{ _self.display_task_list(critical_tasks, 'critical_task') }}
	</div>
	{% endif %}

	{% if important_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Importantes</h2>

		{{ _self.display_task_list(important_tasks, 'important_task') }}
	</div>
	{% endif %}

	{% if normal_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Normales</h2>

		{{ _self.display_task_list(normal_tasks, 'normal_task') }}
	</div>
	{% endif %}

	{% if optional_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Optionnelles</h2>

		{{ _self.display_task_list(optional_tasks, 'optional_task') }}
	</div>
	{% endif %}

</div>

{% endblock %}

{% macro display_task_list(task_list, priority_tag) %}
	{% for task in task_list %}
	<div class="task {{ priority_tag }} d-flex flex-row">
		<div class="flex-grow-1">{{ task.title }}</div>
		<button type="button" class="btn-action"><a href="{{ path('task_details', {task_id: task.id}) }}"><span class="fas fa-ellipsis-v"></span></a></button>
	</div>
	{% endfor %}
{% endmacro %}