{% extends "page.html.twig" %}

{% block body %}
<div class="container m-0 p-0 w-100">
	<div class="row">
		<!-- Menu -->
		<div class="col-3 menu">
            <h1 class="text-center"><a href="{{ path('index') }}">Check it</a></h1>
            Hello {{ app.user.username }}
	
			<nav class="row">
				<div class="col-6"><a href="{{ path('task_creation') }}"></a><span class="fas fa-plus"></span></a></div>
				<div class="col-6"><a href="{{ path('task_creation') }}">Ajouter une tâche</a></div>
				<div class="col-6"><span class="fas fa-tools"></span></div>
				<div class="col-6">Passer en mode édition</div>
				<div class="col-6"><span class="fas fa-sort-amount-up-alt"></span></div>
				<div class="col-6">Trier par périodicité</div>
				<div class="col-6"><span class="fas fa-user"></span></div>
				<div class="col-6">Mon compte</div>
				<div class="col-6"><a href="{{ path('app_logout') }}"><span class="fas fa-sign-out-alt"></span></a></div>
				<div class="col-6"><a href="{{ path('app_logout') }}">Se déconnecter</a></div>
			</nav>
		</div>
	
		<div class="col">
			{% block content %}{% endblock %}
		</div>
	</div>	
</div>
{% endblock %}

