{% extends "app/index.html.twig" %}

{% block content %}
<div class="row mx-4">
	{% if daily_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Quotidiennes</h2>

		{{ _self.display_task_list(daily_tasks) }}
	</div>
	{% endif %}

	{% if weekly_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Hebdomadaires</h2>

		{{ _self.display_task_list(weekly_tasks) }}
	</div>
	{% endif %}

	{% if monthly_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Mensuelles</h2>

		{{ _self.display_task_list(monthly_tasks) }}
	</div>
	{% endif %}

	{% if unique_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Uniques</h2>

		{{ _self.display_task_list(unique_tasks) }}
	</div>	
	{% endif %}
</div>

{% endblock %}

{% macro display_task_list(task_list) %}
	{% for task in task_list %}
		{{ _self.div_task(task.priority.name, task.active) }}

			<div class="task_edition_title">{{ task.title }}</div>
			<div class="task_edition_buttons">
				<button type="button" class="btn-action"><a href="{{ path('task_details', {task_id: task.id}) }}"><span class="fas fa-ellipsis-v"></span></a></button>
				<button type="button" class="btn-action"><a href="{{ path('task_modification', {task_id: task.id}) }}"><span class="fas fa-edit yellow_icon"></span></a></button>
				<button type="button" class="btn-action" id="delete_task"><a href="{{ path('task_deletion', {task_id: task.id}) }}"><span class="fas fa-trash-alt red_icon"></span></a></button>
			</div>

		</div>
	{% endfor %}
{% endmacro %}


{% macro div_task(priority, active) %}
	{% if priority == 'critique' %}
		{% if active %}
			<div class="task critical_task">
		{% else %}
			<div class="task critical_task inactive_task">
		{% endif %}
	{% elseif priority == 'importante' %}
		{% if active %}
			<div class="task important_task">
		{% else %}
			<div class="task important_task inactive_task">
		{% endif %}
	{% elseif priority == 'normale' %}
		{% if active %}
			<div class="task normal_task">
		{% else %}
			<div class="task normal_task inactive_task">
		{% endif %}
	{% else %}
		{% if active %}
			<div class="task optional_task">
		{% else %}
			<div class="task optional_task inactive_task">
		{% endif %}
	{% endif %}
{% endmacro %}